{# src/Atk/CmsBundle/Resources/views/security/login.html.twig #}
{% extends '@travel_connect/default/base-footerheaderless.html.twig'  %}
{% block stylesheets %}
    <!-- CSS Implementing Plugins -->
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/themes/travel-connect/default/assets/plugins/animate.css">
    <link rel="stylesheet" href="/themes/travel-connect/default/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/themes/travel-connect/default/assets/plugins/font-awesome/css/font-awesome.min.css">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="/themes/travel-connect/default/assets/css/pages/page_log_reg_v2.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/themes/travel-connect/default/assets/css/custom.css">
{% endblock %}
{% block title %}
    Travel Connect Login
{% endblock %}
{% block body %}
<!--Reg Block-->
<div class="reg-block">
    <form action="{{ path("oni_travel_connect_check") }}" class="reg-page" method="post">
    <div class="reg-block-header">
        <h2>Sign In</h2>
        {#<ul class="social-icons text-center">#}
            {#<li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>#}
            {#<li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>#}
            {#<li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>#}
            {#<li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>#}
        {#</ul>#}
        {#<p>Don't Have Account? Click <a class="color-green" href="page_registration1.html">Sign Up</a> to registration.</p>#}
    </div>

    <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input type="text" class="form-control" placeholder="Username" name="_username" value="{{ last_username }}">
    </div>
    <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" class="form-control" placeholder="Password"  name="_password">
    </div>
    <hr>

    <div class="checkbox">
        <label>
            <input type="checkbox" name='_remember_me' value='1'>
            <p>Always stay signed in</p>
        </label>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <button type="submit" name="_submit" class="btn-u btn-block">Log In</button>
        </div>
    </div>
    </form>
</div>
<!--End Reg Block-->
{% endblock %}

{% block javascripts %}

    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="{{ get_travel_connect_theme_asset_path() }}assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="{{ get_travel_connect_theme_asset_path() }}assets/plugins/backstretch/jquery.backstretch.min.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="{{ get_travel_connect_theme_asset_path() }}assets/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="{{ get_travel_connect_theme_asset_path() }}assets/js/app.js"></script>
    <script type="text/javascript" src="{{ get_travel_connect_theme_asset_path() }}assets/js/plugins/style-switcher.js"></script>

    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            StyleSwitcher.initStyleSwitcher();
        });
    </script>
    <script type="text/javascript">
        {#$.backstretch([#}
            {#"{{ get_travel_connect_theme_asset_path() }}assets/img/bg/19.jpg",#}
            {#"{{ get_travel_connect_theme_asset_path() }}assets/img/bg/18.jpg",#}
        {#], {#}
            {#fade: 1000,#}
            {#duration: 7000#}
        {#});#}
    </script>
{% endblock %}
